// All default parameters that can be defined from the command like
// Example: nextflow run --vcf_list vcf_sample_list.csv --plink2_container 'quay.io/lifebitai/plink2' --echo true ..
params {
  vcf_list = false
  config = 'conf/standard.config'
  global_container = 'quay.io/lifebitai/ubuntu:18.10'
  plink2_container = 'quay.io/lifebitai/plink2'
  echo = false
}

// Process configuration for resources eg cpus, memory, container image to be used
process {

  // Global configurations that are used as default for all processes unless overwritten
  cpus = 2
  memory = "2.GB"
  container = params.global_container
  echo = params.echo

  // Specific configuration for a process named.
  // The definitions here overwrite the global process definitions for this specific process
  withName: convert_vcf_to_plink {
    container = params.plink2_container
  }
}

profiles {
   standard { includeConfig params.config }
   test { includeConfig 'conf/test.config' }
}